SECRET_KEY=change-this-secret
MONGO_URI=mongodb+srv://DB_USER:DB_PASSWORD@CLUSTER.mongodb.net/render_server?retryWrites=true&w=majority

CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME

PROFILE_IMAGE_SCALE=100
PROFILE_IMAGE_CROP=fit
PROFILE_IMAGE_QUALITY=auto

# Admin phone(s), comma-separated. 8 digits or +976 format accepted.
ADMIN_PHONES=85963616

# Telegram uploader
TELEGRAM_API_ID=12345678
TELEGRAM_API_HASH=your_api_hash
TELEGRAM_CHANNEL_ID=-1001234567890
TELEGRAM_SESSION=1BVtsOGsBuweC_TtHndIUCJ2ghM_UppAt3rGImTFkBPAfv2KJ7EJ99QSV7-oygEGDn26ccIq3C-H5DRdTONmRnAHX3tmqJs_ZkV5xrqPswfYLVT0yIT3XfGSMb1m_oxK4wo-VqmufyVMIjbY_NGQZcUMtkBcW5vuWO4_ZcexejgRkdQ2M1tXpwwV9y9rC9hZbniUONygMY4b2LclYnaVR_0D6PmUsl6MMg57OuHjq54IooQmh2EgyNfIEqs9GeFV8vnLgXOl63W5NdFoTdXPkgfJfbX5IQfWK5kQHvJ5xdSW7lEW-kQoTnadDo8iJF28mjqcduPEOPQ3jYmdmMKXTbhjznSMehPs=1BVtsOGsBuweC_TtHndIUCJ2ghM_UppAt3rGImTFkBPAfv2KJ7EJ99QSV7-oygEGDn26ccIq3C-H5DRdTONmRnAHX3tmqJs_ZkV5xrqPswfYLVT0yIT3XfGSMb1m_oxK4wo-VqmufyVMIjbY_NGQZcUMtkBcW5vuWO4_ZcexejgRkdQ2M1tXpwwV9y9rC9hZbniUONygMY4b2LclYnaVR_0D6PmUsl6MMg57OuHjq54IooQmh2EgyNfIEqs9GeFV8vnLgXOl63W5NdFoTdXPkgfJfbX5IQfWK5kQHvJ5xdSW7lEW-kQoTnadDo8iJF28mjqcduPEOPQ3jYmdmMKXTbhjznSMehPs
MAX_UPLOAD_MB=2048

# Optional Django metadata callback
DJANGO_API_URL=https://django-video-backend.onrender.com
DJANGO_API_KEY=change-this-django-api-key
